* {
    text-align: center;
    background-color: rgb(202, 175, 179);
  }
  
  
  h1{
    margin-bottom: 5%;
    font-weight: bold;
    font-size:xx-large;
    font-family: cursive;
  }
  
  
  ul{
    list-style: none;
    margin-top: 5%;
    align-items: center;
  }
  
  input {
    height: 30px;
    padding: 0;
    color: white;
    font-size: 20px;
    font-weight: 200;
    border: 2px solid white;
    border-radius: 5px;
    text-align: left;
    padding-left: 5px;
  }
  
  input:hover, input:after {
    border: 3px solid black;
  }
  
  button {
    margin-left: 2%;
    width: 80px;
    height: 34px;
    padding: 0;
    border: 2px solid white;
    border-radius: 5px;
    color: white;
    font-weight: bold;
  }
  
  button:hover {
    border: 3px solid black;
  }
  
  li{
    margin: 2% auto;
    padding: 0.5%;
    border: 2px solid white;
    width: 180px;
    background-color: white;
    font-weight: bold;
    border-radius: 5px;
    align-items: center;
    color: rgb(202, 175, 179);
  }